[submodule "zookeeper"]
	path = zookeeper
	url = https://github.com/apache/zookeeper.git
[submodule "boost-svn"]
	path = boost-svn
	url = git@github.com:Motrixi/boost-svn.git
[submodule "cityhash"]
	path = cityhash
	url = https://github.com/jeremybarnes/cityhash.git
[submodule "curl"]
	path = curl
	url = https://github.com/bagder/curl.git
[submodule "curlpp"]
	path = curlpp
	url = git@github.com:Motrixi/curlpp.git
[submodule "gperftools"]
	path = gperftools
	url = git@github.com:Motrixi/gperftools.git
[submodule "hiredis"]
	path = hiredis
	url = https://github.com/redis/hiredis.git
[submodule "jq"]
	path = jq
	url = https://github.com/stedolan/jq.git
[submodule "libssh2"]
	path = libssh2
	url = git@github.com:Motrixi/libssh2.git
[submodule "mongo-cxx-driver"]
	path = mongo-cxx-driver
	url = git@github.com:Motrixi/mongo-cxx-driver.git
[submodule "node"]
	path = node
	url = git@github.com:Motrixi/node.git
[submodule "protobuf"]
	path = protobuf
	url = git@github.com:Motrixi/protobuf.git
[submodule "redis"]
	path = redis
	url = git@github.com:Motrixi/redis.git
[submodule "snappy"]
	path = snappy
	url = git@github.com:Motrixi/snappy.git
[submodule "userspace-rcu"]
	path = userspace-rcu
	url = git@github.com:Motrixi/userspace-rcu.git
[submodule "zeromq3-x"]
	path = zeromq3-x
	url = git@github.com:Motrixi/zeromq3-x.git
[submodule "cairomm"]
	path = cairomm
	url = git://git.cairographics.org/git/cairomm
